* {
  scroll-behaviour: smooth;
}

.gallery_bg h2.text-center {
  color: white;
  font-size: 50px;
}

.nav-link {
  color: #6c6c6c !important;
  transition: all 0.3s ease;
  font-size: 18px !important;
  padding: 25px 20px !important;
}

.nav-link.active {
  font-size: 22px !important;
  color: black !important;
  border-left: 3px solid black;
  border-radius: 0% !important;
  font-weight: 600 !important;
}

#v-pills-tab {
  border-left: 1px solid #6c6c6c88;
}

.tab-pane {
  display: none;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards;
}

.tab-pane.show {
  display: block;
}

.feature_item.style_two {
  height: 380px;
  overflow: auto;
  background: #1b793d !important;
}

.feature_item.style_two .feature_content p {
  color: white;
}

.feature_item.style_two .feature_content h3 {
  color: white !important;
}

.feature_item.style_two::-webkit-scrollbar {
  width: 8px;
}

.feature_item.style_two::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.feature_item.style_two::-webkit-scrollbar-thumb {
  background: #156f39;
  border-radius: 10px;
}

.gallery_bg .card img {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.gallery_bg .card img:hover {
  transform: scale(1.05);
  filter: brightness(0.8);
}

/* Animation for fade-in-up */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.faq_section {
  background-color: #f9f9f9;
  padding: 50px 0;
}

.faq_section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.accordion-button {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button.collapsed {
  background-color: white;
  color: #000;
}

.accordion-body {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
}

section.faq_section {
  padding: 100px 0 100px !important;
  background: url(../images/choose_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  position: relative;
}

.accordion-item {
  border: none !important;
  margin-bottom: 20px;
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 30px rgb(0 0 0 / 9%);
}

.accordion-button:not(.collapsed) {
  background: white !important;
}

button:focus:not(:focus-visible) {
  outline: 0;
  border: 0;
}

.banknote-area {
  background: url(../images/banknote-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 250px 0 200px;
  position: relative;
  background-attachment: fixed;
}

.prize-area {
  background: url(../images/prizebound-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 250px 0 200px;
  position: relative;
  background-attachment: fixed;
}

.passport-area {
  background: url(../images/passport-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 250px 0 200px;
  position: relative;
  background-attachment: fixed;
}

.degrees-area {
  background: url(../images/Degrees-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 250px 0 200px;
  position: relative;
  background-attachment: fixed;
}

.cheques-area {
  background: url(../images/banknote-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 250px 0 200px;
  position: relative;
  background-attachment: fixed;
}

.postal-area {
  background: url(../images/postal-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 250px 0 200px;
  position: relative;
  background-attachment: fixed;
}

.judicial-area {
  background: url(../images/judicial-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 250px 0 200px;
  position: relative;
  background-attachment: fixed;
}

.stamps-area {
  background: url(../images/stamps-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 250px 0 200px;
  position: relative;
  background-attachment: fixed;
}

.commemorative-area {
  background: url(../images/commemorative-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 250px 0 200px;
  position: relative;
  background-attachment: fixed;
}

.realstate-area {
  background: url(../images/realstate-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 250px 0 200px;
  position: relative;
  background-attachment: fixed;
}

.travelers-area {
  background: url(../images/travelers-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 250px 0 200px;
  position: relative;
  background-attachment: fixed;
}

.national-area {
  background: url(../images/national-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 250px 0 200px;
  position: relative;
  background-attachment: fixed;
}

.investment-area {
  background: url(../images/Investment-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 250px 0 200px;
  position: relative;
  background-attachment: fixed;
}

.card-banner {
  background: url(../images/card-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 250px 0 200px;
  position: relative;
  background-attachment: fixed;
}

.educational-credentials {
  background: url(../images/Educational-Credentials.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 250px 0 200px;
  position: relative;
  background-attachment: fixed;
}

.technology-banner {
  background: url(../images/technology-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 250px 0 200px;
  position: relative;
  background-attachment: fixed;
}
.embedded {
  background: url(../images/embedded.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 250px 0 200px;
  position: relative;
  background-attachment: fixed;
}
.current-card {
  width: 31%;
  margin: 1%;
}

.current-card-img {
  width: 100%;
}

.current-card-content {
  text-align: center;
  padding: 20px;
}


.current-card-content p {
  color: black;
  font-size: 20px;
}

.plus-con {
  font-size: 20px;
}

.pluss {
  background: #1b793d;
  color: white;
  padding: 0px 11px;
  border-radius: 50px;
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .current-card {
    width: 48%;
    margin: 1%;
  }

}
.certiii {
    margin-top: -200px!Important;
}